* {
    -webkit-font-smoothing: antialiased;
}
.bold {
    font-weight: bold;
}
body {
    margin: 0px auto;
    padding: 0px;
    font-family: arial;
    overflow: hidden;
    -webkit-text-size-adjust: none;
    max-width: 480px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
button {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    width: 90px;
    background-color: #6496c8;
    border: 0px none;
    box-shadow: 0 3px #27496d;
    letter-spacing: 1px;
    outline: 0px none;
    color: #fff;
}
button:hover {
    background-color: #417cb8;
}
button:focus {
    border: 0px none;
}
button:active {
    background-color: #417cb8;
    box-shadow: 0 1px #27496d;
    transform: translateY(3px);
}
.black-font-color {
    color: #000 !important;
}
