<!-- this is main game section -->
<div id="gameSection" class="game-section">

    <!-- this is level upgrading display modaal section -->
    <div id="bonusSection" class="bonus-section">
        <div data-localize="BONUS.HEADER"></div>
        <div id="levelInfo" data-localize="BONUS.INFO"></div>
        <div>
            <span data-localize="BONUS.GAINED"></span>
            <span id="bonusVal">0</span>
            <span data-localize="BONUS.BONUS"></span>
            <span class="coins"></span>
        </div>
        <div class="margin-top-10">
            <span data-localize="BONUS.GAINED_TOTAL"></span>
            <span id="finalTotalPoints">0</span>
            <span> </span>
            <span class="coins"></span>
        </div>
        <div class="bonus-btn-section">
            <button id="exitGame" data-localize="EXIT"></button>
            <button id="continueGame" data-localize="CONTINUE"></button>
        </div>
    </div>

    <!-- game pause modal -->
    <div id="gamePauseModal" class="game-pause-modal" style="display: none;">
        <div>
            <button id="exitFromGame" data-localize="EXIT"></button>
            <button id="resumeGame" data-localize="RESUME"></button>
        </div>
    </div>

    <!-- this is game failed message display modal section -->
    <div id="gameFailedSection" class="game-failed-section">
        <div data-localize="FAILED.HEADER"></div>
        <div data-localize="FAILED.INFO"></div>
        <div>
            <span data-localize="FAILED.GAINED_TOTAL"></span>
            <span id="finalPoints">0</span>
            <span> </span>
            <span class="coins"></span>
        </div>
        <div class="game-failed-btn-section">
            <button id="quitGame" data-localize="EXIT"></button>
        </div>
    </div>

    <!-- this is for displaying timer -->
    <span class="time-section">
        <span id="timeSection">00:00</span>
        <span class="pause" id="pauseGame"></span>
    </span>

    <!-- free live modal section -->
    <span class="free-live-section">
        <span class="free-live-icon"></span>
        <span id="freeLiveSection">0</span>
        <span class="tooltip" id="tooltip" data-localize="BONUS.ADD_LIFE_TIP"></span>
        <span class="tooltip" id="noPointTooltip" data-localize="BONUS.NO_POINT">No points available</span>
    </span>

    <!-- add life with respect to earned coins; modal -->
    <div id="addLifeConfirmation" class="add-life-confirm-section">
        <div>
            <span data-localize="BONUS.GAINED"></span>
            <span id="totalGamePoints"></span>
            <span> </span>
            <span class="coins"></span>
        </div>
        <div data-localize="BONUS.ADD_LIFE_INFO">50 coins will be deducted from your earning.</div>
        <div data-localize="BONUS.ADD_LIFE_CONFIRMATION">Do you want to proceed?</div>
        <div class="add-life-btn-section">
            <button id="closeAddLifeModal" data-localize="EXIT"></button>
            <button id="confirmAddLife" data-localize="CONTINUE"></button>
        </div>
    </div>

    <!-- this is for displaying points -->
    <span class="point-section">
        <span class="coins"></span>
        <span id="pointSection">0</span>
    </span>

    <!-- this is level 1 section -->
    <div class="level-1 level" id="level1">
        <div class="fish-section">
            <span class="fish fish-3"><span class="fish-body"></span></span>
            <span class="fish fish-4"></span>
        </div>
        <div class="perl-section">
            <div id="perl1" class="perl ball p0">
                <span class="shadow"></span>
            </div>
            <div id="perl2" class="perl ball p1">
                <span class="shadow"></span>
            </div>
            <div id="perl3" class="perl ball p2">
                <span class="shadow"></span>
            </div>
        </div>
        <div class="bubble-section">
            <span class="bubbles b0 ball bubble"></span>
            <span class="bubbles b1 ball bubble"></span>
            <span class="bubbles b2 ball bubble"></span>
            <span class="bubbles b3 ball bubble"></span>
            <span class="bubbles b4 ball bubble"></span>
            <span class="bubbles b5 ball bubble"></span>
        </div>
        <div class="bowl-section">
            <span class="bowl bowl1"></span>
            <span class="bowl bowl2"></span>
            <span class="bowl bowl3"></span>
            <span class="bowl bowl4"></span>
        </div>
    </div>

    <!-- this is level 2 section -->
    <div class="level-2 level" id="level2">
        <div class="fish-section">
            <span class="fish fish-2"></span>
        </div>
        <div class="bowl-section">
            <span class="bowl bowl1"></span>
            <span class="bowl bowl2"></span>
            <span class="bowl bowl3"></span>
            <span class="bowl bowl4"></span>
            <span class="bowl bowl5"></span>
        </div>
        <div class="bubble-section">
            <span class="bubbles b0 ball bubble"></span>
            <span class="bubbles b1 ball bubble"></span>
            <span class="bubbles b2 ball bubble"></span>
            <span class="bubbles b3 ball bubble"></span>
            <span class="bubbles b4 ball bubble"></span>
            <span class="bubbles b5 ball bubble"></span>
        </div>
    </div>

    <!-- this is level 3 section -->
    <div class="level-3 level" id="level3">
        <div class="fish-section">
            <span class="fish fish-5"><span class="fish-body"></span></span>
        </div>
        <div class="bowl-section">
            <span class="bowl bowl1"></span>
            <span class="bowl bowl2"></span>
            <span class="bowl bowl3"></span>
            <span class="bowl bowl4"></span>
            <span class="bowl bowl5"></span>
        </div>
        <div class="bubble-section">
            <span class="bubbles b0 ball bubble"></span>
            <span class="bubbles b1 ball bubble"></span>
            <span class="bubbles b2 ball bubble"></span>
            <span class="bubbles b3 ball bubble"></span>
            <span class="bubbles b4 ball bubble"></span>
            <span class="bubbles b5 ball bubble"></span>
        </div>
    </div>

    <!-- this is level 4 section -->
    <div class="level-4 level" id="level4">
        <div class="wave-section">
            <div class="wave"></div>
        </div>
        <div class="fish-section">
            <span class="fish fish-1"><span class="fish-body"></span></span>
        </div>
        <div class="bowl-section">
            <span class="bowl bowl1"></span>
            <span class="bowl bowl2"></span>
            <span class="bowl bowl3"></span>
            <span class="bowl bowl4"></span>
            <span class="bowl bowl5"></span>
        </div>
        <div class="bubble-section">
            <span class="bubbles b0 ball bubble"></span>
            <span class="bubbles b1 ball bubble"></span>
            <span class="bubbles b2 ball bubble"></span>
            <span class="bubbles b3 ball bubble"></span>
            <span class="bubbles b4 ball bubble"></span>
            <span class="bubbles b5 ball bubble"></span>
        </div>
    </div>

</div>