<div class="menu-section">

    <!-- this is menu bubble section -->
    <div class="bubble-section">
        <span class="bubbles b0 ball bubble"></span>
        <span class="bubbles b1 ball bubble"></span>
        <span class="bubbles b2 ball bubble"></span>
        <span class="bubbles b3 ball bubble"></span>
        <span class="bubbles b4 ball bubble"></span>
        <span class="bubbles b5 ball bubble"></span>
    </div>

    <!-- this is game header section -->
    <div class="header-text">
        <h1 data-localize="MENU.GAME_1"></h1>
        <h1 data-localize="MENU.GAME_2"></h1>
    </div>

    <!-- game mode section section -->
    <div class="game-mode-section">
        <span class="classic-mode selected-mode mode">
            <span class="normal">&infin;</span>
            <span>
                <div class="bold" data-localize="MENU.CLASSIC_MODE"></div>
                <div data-localize="MENU.CLASSIC_MODE_INFO"></div>
            </span>
        </span>
        <span class="timed-mode mode">
            <span class="timer"></span>
            <span>
                <div class="bold" data-localize="MENU.TIMED_MODE"></div>
                <div data-localize="MENU.TIMED_MODE_INFO"></div>
            </span>
        </span>
    </div>

    <!-- language selection section -->
    <div class="lang-section">
        <select id="selectLang">
            <option value="en">English</option>
            <option value="dt">Dutch</option>
            <option value="sp">Spanish</option>
            <option value="ge">German</option>
        </select>
    </div>

    <!-- game mode selection -->
    <div class="game-difficulty-section" id="gameDiffSelection" style="display: none;">
        <button data-localize="EASY" difficulty-mode="1"></button>
        <button data-localize="HARD" difficulty-mode="2"></button>
    </div>

    <!-- this is play game button -->
    <div class="play-game" id="playGame">
        <span class="arrow"></span>
    </div>

    <!-- this is menu toolbar section for help, stat and sound on or off -->
    <div class="toolbar-section">
        <span class="stat" id="stat"></span>
        <span class="help" id="help"></span>
        <span class="sound-on" id="sound"></span>
    </div>

    <!-- this is point section for displaying points gained by user -->
    <span class="point-section">
        <span class="coins"></span>
        <span id="pointSection">0</span>
    </span>

    <!-- this is menu water wave section -->
    <div class="wave-section">
        <div class="wave"></div>
    </div>

    <!-- game help section -->
    <div class="help-section" id="gameHelp" style="display: none;">
        <h1 data-localize="MENU.HELP_HEADER"></h1>
        <div class="help-content">
            <div data-localize="MENU.RULE_0"></div>
            <div class="bold" data-localize="MENU.CLASSIC_MODE"></div>
            <ul>
                <li data-localize="MENU.RULE_1"></li>
                <li data-localize="MENU.RULE_2"></li>
                <li data-localize="MENU.RULE_3"></li>
                <li data-localize="MENU.RULE_4"></li>
                <li data-localize="MENU.RULE_5"></li>
                <li data-localize="MENU.RULE_6"></li>
                <li data-localize="MENU.RULE_7"></li>
                <li data-localize="MENU.RULE_8"></li>
                <li data-localize="MENU.RULE_9"></li>
                <li data-localize="MENU.RULE_10"></li>
                <li data-localize="MENU.RULE_11"></li>
                <li data-localize="MENU.RULE_12"></li>
                <li data-localize="MENU.RULE_13"></li>
                <li data-localize="MENU.RULE_14"></li>
                <li data-localize="MENU.RULE_15"></li>
            </ul>
            <div class="bold"  data-localize="MENU.TIMED_MODE"></div>
            <ul>
                <li  data-localize="MENU.RULE_16"></li>
                <li  data-localize="MENU.RULE_17"></li>
            </ul>
        </div>
        <div class="btn-section">
            <button id="exitHelp" data-localize="EXIT"></button>
        </div>
    </div>

    <!-- game stat section -->
    <div class="stat-section" id="gameStat" style="display: none;">
        <div class="table">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <th style="width: 25%" data-localize="MENU.COIN"></th>
                    <th style="width: 35%" data-localize="MENU.TIME"></th>
                    <th style="width: 40%" data-localize="MENU.DIFFICULTY"></th>
                </thead>
            </table>
            <table cellpadding="0" cellspacing="0" border="0" id="statTable">
                <tr>
                    <td colspan="3" data-localize="NO_DATA"></td>
                </tr>
            </table>
        </div>
        <div class="btn-section">
            <button id="exitStat"  data-localize="EXIT"></button>
        </div>
    </div>

</div>